
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--
Note, this page must be served from the same machine were your JSON Servlet resides.
 -->
<script type="text/javascript" language="javascript">
  $(document).ready(function() {
     $("#loadButton").click(function(event){
        $.getJSON('/MVC_app/APIJSON', function(jsonObject) {
            $('#outputArea').html('<h2>Questions</h2>');
            for (var i=0; i<jsonObject.questions.length; i++) {
                $('#outputArea').append('<p>' + jsonObject.questions[i].question + '</p>');
            }
        });
     });
  });
</script>
</head>

<body>

<h2>Reading JSON from JavaScript</h2>

<p>Right click and view source to see that data below was
fetched from the server as a JSON object.</p>

<p>Click on the button to load and display JSON data.</p>
<div id="outputArea">
This sentence will be replaced.
</div>
<input type="button" id="loadButton" value="Load Data" />

</body>
</html>